.main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: to-rem(30);
  padding-bottom: to-rem(30);

  @include respond-above(medium) {
    align-items: center;
  }

  @include respond-above(xmedium) {
    padding-top: to-rem(60);
    padding-bottom: to-rem(60);
  }
}

.main__logo {
  align-self: center;
  margin-bottom: to-rem(30);

  @include respond-above(medium) {
    display: none;
  }
}

.main__title {
  margin-bottom: to-rem(15);
  font-size: to-rem(24);
  text-transform: uppercase;
  text-align: center;

  @include respond-above(xmedium) {
    font-size: to-rem(36);
  }
}

.main__text--accent {
  color: var(--col-tibetan-yellow);
}

.main__subtitle {
  margin-bottom: to-rem(20);
  color: var(--col-total-white);
  font-size: to-rem(16);
  text-transform: uppercase;
  text-align: center;

  @include respond-above(xmedium) {
    margin-bottom: to-rem(25);
    font-size: to-rem(20);
  }
}

.main__section {
  display: contents;

  @include respond-above(medium) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.main__decor-wrapper {
  position: relative;
  width: 100%;

  @include respond-above(medium) {
    width: 36vw;
  }
}

.main__decor {
  display: inline-block;
  width: 100%;
}

.main__glow {
  width: 110%;
  aspect-ratio: 1;
  position: absolute;
  z-index: var(--z-hidden);
  left: 50%;
  bottom: -#{to-rem(50)};
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: rgba(var(--col-lexaloffle-green-rgb), 30%);
  filter: blur(to-rem(50));

  @include respond-above(medium) {
    bottom: -25%;
    filter: blur(to-rem(125));
  }
}

.main__desktop-sign-up-logo {
  margin-bottom: to-rem(40);
}

.main__desktop-sign-up-wrapper {
  display: none;

  @include respond-above(medium) {
    --sign-up-form-input-bg: var(--col-rich-olive);
    --sign-up-form-text-color: var(--col-total-white);
    --auth-type-radio-bg: var(--sign-up-form-input-bg);

    width: min(36vw, to-rem(400));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: to-rem(30) to-rem(20);
    background-color: var(--col-gordons-green);
    border-radius: to-rem(10);

    .sign-up-form__title {
      margin-bottom: to-rem(40);
      font-size: to-rem(24);
    }
  }

  @include respond-above(xmedium) {
    width: min(31vw, to-rem(600));
    padding: to-rem(70) to-rem(40);
  }
}

.main__desktop-sign-up-form {
  @include respond-above(medium) {
    max-width: to-rem(418);
  }
}

.main__cta-btn {
  position: relative;
  z-index: var(--z-default);
  margin-top: -#{to-rem(40)};

  @include respond-above(medium) {
    display: none;
  }
}

.main__advantages-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: to-rem(15);
  margin-top: to-rem(30);
  margin-bottom: to-rem(30);

  @include respond-above(medium) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: min(4.7vw, to-rem(90));
    max-width: to-rem(1150);
  }

  @include respond-above(xmedium) {
    margin-bottom: to-rem(80);
  }
}

.main__advantages-list-item {
  display: flex;
  flex-direction: column;
}

.main__advantage-img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: to-rem(10);

  @include respond-above(medium) {
    margin-bottom: to-rem(25);
  }

  img {
    width: to-rem(100);

    @include respond-above(medium) {
      width: to-rem(120);
    }
  }
}

.main__advantage-text-wrapper {
  --decor-width: #{to-rem(5)};

  position: relative;
  padding-left: calc(var(--decor-width) + to-rem(10));

  @include respond-above(medium) {
    padding-left: calc(var(--decor-width) + to-rem(15));
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: var(--decor-width);
    height: 100%;
    background-color: var(--col-lexaloffle-green);
  }
}

.main__advantage-title {
  margin-bottom: to-rem(10);
  font-size: to-rem(20);
}

.main__possibilities {
  margin-bottom: to-rem(10);
  color: var(--col-total-white);
  font-size: to-rem(16);
  text-align: center;

  @include respond-above(medium) {
    margin-bottom: to-rem(15);
  }
}

.main__partners-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: to-rem(10);
  place-items: center;

  @include respond-above(medium) {
    grid-gap: to-rem(40);
  }
}
