$col-black-chestnut-oak: #272421;
$col-black-chestnut-oak-rgb: hex-to-rgb($col-black-chestnut-oak);

$col-downwell: #001106;
$col-downwell-rgb: hex-to-rgb($col-downwell);

$col-lexaloffle-green: #00e034;
$col-lexaloffle-green-rgb: hex-to-rgb($col-lexaloffle-green);
