<main class="main container">
  <a
    class="main__logo"
    href="https://mayan.bet/"
    target="_blank"
    rel="nofollow noopener noreferrer"
  >
    {{> svg-icon width="164" height="32" name='logo' }}
  </a>
  <h2 class="main__title">
    Ganhe um bônus de até
    <span class="main__text--accent">R$ 13.500</span> hoje!
  </h2>
  <p class="main__subtitle">
    Mayan Bet, o maior bônus de apostas esportivas do Brasil.
  </p>
  <div class="main__decor-wrapper">
    <picture class="main__decor">
      <source
        type="image/webp"
        srcset="
          /img/decor/decor-large.webp     700w,
          /img/decor/decor-large@2x.webp 1400w
        "
        sizes="700px"
      />
      <source
        type="image/png"
        srcset="
          /img/decor/decor-large.png     700w,
          /img/decor/decor-large@2x.png 1400w
        "
        sizes="700px"
      />
      <img
        src="/img/decor/decor-large.png"
        width="700"
        height="1080"
        alt=""
        loading="lazy"
      />
    </picture>
    <div class="main__glow"></div>
  </div>
  <button
    class="main__cta-btn app-button js-show-auth-btn"
    type="button"
    aria-label="Inscrever-se"
  >
    Inscrever-se
  </button>
  <ul class="main__advantages-list">
    <li class="main__advantages-list-item">
      <h3 class="main__advantage-title">
        <span class="main__text--accent">Abra</span> sua conta:
      </h3>
      <p>
        Crie sua conta em um piscar de olhos e mergulhe em um oceano de
        oportunidades de ganhar.
      </p>
    </li>
    <li class="main__advantages-list-item">
      <h3 class="main__advantage-title">
        <span class="main__text--accent">Depósito</span> relâmpago:
      </h3>
      <p>
        Faça seus depósitos com rapidez e segurança usando o PIX. Sua diversão
        está a apenas alguns segundos de distância.
      </p>
    </li>
    <li class="main__advantages-list-item">
      <h3 class="main__advantage-title">
        <span class="main__text--accent">Bônus</span> Ilimitado:
      </h3>
      <p>
        Prepare-se para o melhor bônus do país! Um bônus insano de 350%,
        ilimitado até R$13.500!
      </p>
    </li>
  </ul>
  <p class="main__possibilities">
    Junte-se à Mayan.Bet e descubra um universo de possibilidades de ganhos! Não
    perca tempo, a sorte espera por você!
  </p>
  <ul class="main__partners-list">
    <li>
      <picture class="main__partner-img">
        <source
          type="image/webp"
          srcset="
            /img/decor/partner-1.webp    116w,
            /img/decor/partner-1@2x.webp 232w
          "
          sizes="116px"
        />
        <source
          type="image/png"
          srcset="
            /img/decor/partner-1.png    116w,
            /img/decor/partner-1@2x.png 232w
          "
          sizes="116px"
        />
        <img
          src="/img/decor/partner-1.png"
          width="116"
          height="110"
          alt=""
          loading="lazy"
        />
      </picture>
    </li>
    <li>
      <picture class="main__partner-img">
        <source
          type="image/webp"
          srcset="
            /img/decor/partner-2.webp    116w,
            /img/decor/partner-2@2x.webp 232w
          "
          sizes="116px"
        />
        <source
          type="image/png"
          srcset="
            /img/decor/partner-2.png    116w,
            /img/decor/partner-2@2x.png 232w
          "
          sizes="116px"
        />
        <img
          src="/img/decor/partner-2.png"
          width="116"
          height="110"
          alt=""
          loading="lazy"
        />
      </picture>
    </li>
    <li>
      <picture class="main__partner-img">
        <source
          type="image/webp"
          srcset="
            /img/decor/partner-3.webp    116w,
            /img/decor/partner-3@2x.webp 232w
          "
          sizes="116px"
        />
        <source
          type="image/png"
          srcset="
            /img/decor/partner-3.png    116w,
            /img/decor/partner-3@2x.png 232w
          "
          sizes="116px"
        />
        <img
          src="/img/decor/partner-3.png"
          width="116"
          height="110"
          alt=""
          loading="lazy"
        />
      </picture>
    </li>
  </ul>
</main>
